<div class="span-24 left">
	<fieldset>
		<legend>Tipos de Productos</legend>
		<div id="form_notice"> 
			<input id="notice" size="100" value="<%= notice %>" style="background:none; border:none; color: green; font-weight: bold" />
		</div>
		<fieldset>
		<%= form_for(@product_type) do |f| %>
		<ul>
			<li>
				<label>Descripcion:</label>
				<%= f.text_field :description, size: 25, id:'description' %>
			</li>
		</ul>
		</fieldset>
		<div class="span-24 center last" >
			<%= f.submit 'Guardar', id: 'save_button' %>
			<%= link_to 'Limpiar',new_product_type_path, class: 'limpiar button'%>
			<%= link_to 'Cancelar','../main_page/index' ,class: 'button'%>
		</div>
		<% end %>
		<div id="result">
			<%= render 'list'%>
		</div>
		
	</fieldset>
</div>
<script>
	var f1 = new LiveValidation('description', { validMessage: " ",onlyOnSubmit: true, wait: 500 });
        f1.add( Validate.Presence, { failureMessage: " " } );
</script>
