<fieldset>
	<%= form_tag({:action => 'add_detail'}, :remote => true) do%>
	<ul>
		<li>
			<label>Nota de Retiro:</label>
			<%= text_field_tag :retire_note,nil, id: 'retire_note',size: 15, :maxlength => 15%>
			<%= hidden_field_tag :customer, nil,id: 'customer_hidden' %>
			<%= submit_tag '',id: 'button_add_detail',class:"add"%>
		</li>
		
	</ul>
	<% end %>
	<div id="div_invoice_detail" class="span-22 left">
		<%= render 'detail'%>
	</div>
	<ul>
		<li  style="width: 80%; alignment-adjust: center !important">
			<label style="width: auto !important;">Total Iva%</label>
			<%= text_field_tag :total_iva,nil,id:'total_iva', size: 10, disabled: true%>
			<label style="width: auto !important;">Total</label>
			<%= text_field_tag :total,nil,id:'total', size: 10, disabled: true%>
		</li>
	</ul>
</fieldset>
<script>
	$(document).ready(function(){
     	//Comprueba que se teclee solo numeros
		$("#retire_note").keypress(function (e)
		{
		  if(e.which == 13) {
            jQuery(this).blur();
            jQuery('#button_add_detail').focus().click();
           }
		  //if the letter is not digit then display error and don't type anything
		  if( e.which!=8 && e.which!=0 && (e.which<48 || e.which>57))
		  {
		    return false;
		  }
		  
		});
		
	});
	
	var f1 = new LiveValidation('retire_note', { validMessage: " ",wait: 100 });
        f1.add( Validate.Presence, { failureMessage: " " } );
</script>
