<table
	columnClasses="center,center,center,center,center,center,center,center,center,center"
	headerClass="center"
	rowClasses="odd gradeC" cellpadding="0" cellspacing="0"
	border="1" class="tablaIndex display"  bgcolor="white">
	<thead>
	  <tr>
	  	<th>Fecha</th>
	    <th>Servicio</th>
	    <th>Cant</th>
	    <th>Monto</th>
	    <th>IVA 10%</th>
	    <th>Tipo de producto</th>
	    <th>Destino</th>
	    <th>Nota Retiro</th>
	    <th>Sub Total</th>
	  </tr>
	</thead>
        <tbody id="tbody-details">
	<% @details.each do |detail| %>
	  <tr>
	  	<td><%= detail.retire_note.date%></td>
	  	<td><%= detail.retire_note.service_type.description %></td>
	  	<td><%= detail.retire_note.amount %></td>
	  	<td><%= detail.retire_note.unit_price%></td>
	  	<td><%= (detail.retire_note.unit_price / 10) %></td>
	  	<td><%= detail.retire_note.product_type.description%></td>
	  	<td><%= detail.retire_note.city.name%></td>
	  	<td><%= detail.retire_note.number%> </td>
	  	<td><%= detail.sub_total %></td>
	  </tr>
	<% end %>
	</tbody>
</table>
<script>
	
</script>
