<div class="span-24 left">
	<fieldset>
		<legend>Visualizando Factura</legend>
		<div id="form_notice"> 
			<input id="notice" size="100" value="<%= notice %>" style="background:none; border:none; color: green; font-weight: bold" />
		</div>
		<fieldset>
		
		<ul>
			<li>
				<label>Factura Nro:</label>
				<input type="text" value="<%= @invoice.number%>" size="15" disabled="true"  />
			</li>
			<li>
				<label>Fecha:</label>
				<input type="text" value="<%= @invoice.date.strftime("%d-%m-%Y") %>" size="15" disabled="true" />
			</li>
			<div class="clear"></div>
			<li>
				<label>Cliente:</label>
				<input type="text" disabled="true" style="width: 60%" value="<%=@invoice.customer.company_name + ' ' +@invoice.customer.last_name + ' ' + @invoice.customer.name %>"  />
			</li>
			<li>
				<label>Ruc:</label>
				<input type="text" id="ruc_id" size="13" value ="<%=@invoice.customer.ruc %>" disabled="true" />
			</li>
			<div class="clear"></div>
			<li>
				<label>Forma de Pago:</label>
				 <input type="text" value="<%=@invoice.payment_method.name_payment %>" disabled="true"/>
			</li>
		</ul>
		</fieldset>
		<div class="span-24 center last" >
			<%= link_to 'Ver para imprimir', invoice_path(@invoice, :format => "pdf"), class: 'button',id: 'save_button' , class: 'button' %>
			<%= link_to 'Cancelar','../main_page/index' ,class: 'button'%>
		</div>
		<div id="add_detail_form">
			<%= render 'show_detail'%>
		</div>
		<ul>
		<li  style="width: 80%; alignment-adjust: center !important">
			<label style="width: auto !important;">Total Iva 10% Gs.</label>
			<input type="text" size="10" disabled="true" value="<%= @invoice.iva10.to_i %>" />
			<label style="width: auto !important;">Total Gs:</label>
			<input type="text" size="10" disabled="true" value="<%= @invoice.total.to_i %>" />
		
			
		</li>
	</ul>
	</fieldset>
</div>